<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
        
          <a class="navbar-brand" href routerLink="/">Crud App</a>
        
          <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="" routerLink="/">Ana Sayfa <span class="sr-only">(current)</span></a>
              </li>
        
            </ul>
            <div class="form-inline my-2 my-lg-0">
        
              <button class="btn btn-outline-success my-2 my-sm-0" (click)="open(content)">
                <span class="fa fa-plus"></span>
                Kullanici Ekle</button>
            </div>
          </div>
        </nav>