<div class="row">
    <div class="col-8">
  
      <h3>Kullanicilar</h3>
  
      <table class="table table-sm table-bordered table-striped">
        <thead>
        <tr>
          <th>#</th>
          <th>ID</th>
          <th>Isim</th>
  
          <th>Aktif</th>
          <th>Rol</th>
          <th>Islemler</th>
        </tr>
        </thead>
                
        <tbody>
        <tr user-item *ngFor="let user of users; index as _i" [userInput]="user" [indexInput]="_i">

        </tr>
        </tbody>
  
      </table>
      
  
    </div>
  
    <div class="col-4">
      <h3>Kullanıcı Detay/Silme Onay</h3>
    </div>
  
  </div>

  <ng-template #loading>
      <tr>
        <td width="100%" colspan="7">
          Kullanicilar Yukleniyor
        </td>
      </tr>
    </ng-template>