
    <td>{{index+1}}</td>
    <td>{{user.id}}</td>
    <td>{{user.username}}</td>
    <td>{{user.enabled}}</td>
    <td>
      <ul style="list-style:none">
        <li *ngFor="let role of user.roles">
            {{role.name}}
        </li>
      </ul>
    </td>
    <td>
      <button class="btn btn-sm btn-outline-primary"><span class="fa fa-edit"></span></button>
      <button class="btn btn-sm btn-outline-danger" (click)="delete()"><span class="fa fa-trash"></span>Sil</button>
      <button class="btn btn-sm btn-outline-info" (click)="details()"><span class="fa fa-search"></span>Detay</button>
    </td>
